.App {
  padding: 1rem;
  color: #222;
}

.dashboard-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card {
  container-type: inline-size;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.2rem;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.dashboard-container {
  width: 100%;
  padding: 1.2rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;

  @media (max-width: 1000px) {
    padding: 1rem 0.5rem;
    flex-direction: column;
  }
}
