.history-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}

.controls {
  height: 8%;
}

.controls.card{
  margin: 0;
  height: auto;
}

.button-group button {
  padding: 0.5rem 1rem;
  border: 1px solid #808588;
  border-radius: 20px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

.button-group button:hover {
  background-color: #d0d0d0;
}

.button-group button.active {
  background-color: #35a2eb;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chart-card {
  min-height: 300px;
  height: 45%;

  @media (max-width: 1000px) {
    max-height: 500px;
    padding: 10px;
  }
}
