body {
  min-height: 100vh;
  background-image: url("../images/sky-background-endless.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: 0 50%;
  will-change: background-position;
  animation: bg-move-right 150s linear infinite;

  @media (max-width: 1000px) {
    animation: none;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

@keyframes bg-move-right {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 1920px 50%;
  }
}

.main-container {
  display: flex;
  min-height: 100vh;
  
  @media (min-width: 1000px) {
    height: 100vh;
  }
}
