.last-measurement {
  padding: 1.5rem;
  width: 30%;
  display: flex;
  height: 100%;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.center-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.1;
}

.loading-dots::after {
  content: "...";
  animation: ellipsis 1.5s infinite steps(3);

  display: inline-block;
  width: 1.25em;
  text-align: left; 
}

@keyframes ellipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}

