.last-measurement {
  width: 25%;
  display: flex;
  height: 100%;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.center-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.1;
}

h1{
  font-size: clamp(1.5rem, 7cqi, 4rem);
}

h2{
  font-size: clamp(1.2rem, 7cqi, 2rem);
}

p, strong{
  font-size: clamp(0.8rem, 5cqi, 1.4rem);
}

.loading-dots::after {
  content: "...";
  animation: ellipsis 1.5s infinite steps(3);

  display: inline-block;
  width: 1.25em;
  text-align: left; 
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-disconnected {
  color: red;
  font-weight: bold;
}

.last-measurement__container {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: max(1.5rem, 3.5cqi);
  text-align: center;

  & .text-block{
    line-height: 1.4;
  }
}

.text-block {
  flex: 0 1 auto;
}


@keyframes ellipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}

